.logo-text{
  font-size: 30px;
  color: aliceblue;
}
.nav-main-container{
  background-color: #1B3358;
  height: 75px;
  width: 100%;
  display: flex;
  position:static;
  top: 0;
 color: aliceblue;
 font-family:Arial, Helvetica, sans-serif;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: #2c2929;

}

#root{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-card-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  padding: 10px;
 

}
.books-card-container{
  padding: 8px;
  width: 60%;
}


.books-card{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;


}


.button-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  padding: 10px;

}
:root{
  --primary-font-family:'Roboto', sans-serif;
  --primary-text-color:#2c2929;
  --primary-font-size:16px;
  --primary-font-weight:600;
  --secondary-font-color:#666;
  --secondary-font-size:14px;
}
.title{
  font-size: var(--primary-font-size);
  font-family: var( --primary-font-family);
  color: var(--primary-text-color);
  font-weight: var(--primary-font-weight);

}
.author{
  color: var(--secondary-font-color);
  font-size: var(--secondary-font-size);
  font-family: var(--primary-font-family);

}



.card-container{
  padding: 30px;
  margin-top: 50px;
 width: 90%;
}
.card{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.button-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-top: 15px;
  
}

.card-heading{
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;

}

.card-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  
}
.link:hover{

  text-decoration: underline;
  text-decoration-thickness: 0.1em; 
  text-underline-offset: 0.4em;
  color: #fff;
  font-weight: bold;

}
.action-colomn {
  display: flex;
  justify-content: center; 
  align-items: center; 
}
img{
  height: 40px;
  width: 40px;
  
}
.dark{
  background-color: black;
  color: aliceblue;
}



  
p {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #666;
  font-weight: 600;
}

span{
  font-size: 13px;
  color: #666;

}

.order-total{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #fff;
  font-weight: 500;

}
.total{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #fff;
  font-weight: 600;
  margin-right: 20px;

}

h2{
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: #fff;
  font-weight: 600;

}

.order-confirm-text{
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: #474646;
  font-weight: 700;

}